textarea {
    min-height: 400px;
}

p {
    margin-bottom: 0;
}

.container {
    margin-top: 20px;
}

#read {
    background-color: lightgray;
}

#unread {
    font-weight: bold;
}

#emails-box {
    max-height: 75vh;
    overflow-y: auto;
}

#block-name {
    margin: 15px;
    border-radius: 50px;
}