textarea {
    min-height: 400px;
}

p {
    margin-bottom: 0;
}

.container {
    margin-top: 20px;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.multiline {
    white-space: pre-line;
}

#read {
    background-color: #e9ecef;
}

#unread {
    font-weight: bold;
}

#emails-box {
    max-height: 75vh;
    overflow-y: auto;
}

#block-name {
    margin: 15px;
    border-radius: 50px;
}

#compose-btn {
    margin-top: 10px;
}

#letter-view {
    margin-top: 100px;
}

#archive-btn {
    margin-left: 13px;
}